* {
	font-family: Consolas, monaco, monospace;
	color:white;
	text-transform: uppercase;
	user-select: none;
}
.game-wrapper {
	background-color: white;
	width: 50%;
	align-self: center;
	padding: 10px;
	position: relative;
	left: 25%;
	top: 80px;
	text-align: center;
}
.difficulty-view{
	align-self: center;
}

.game-button {
	box-sizing: border-box;
	border: 1px solid #fff;
	border-radius: 10px;
	padding: 10px;
	font-family: Consolas, monaco, monospace;
	/*color:white;*/
	background-color: #BB0000;
	margin: 10px;
	transition: 0.2s;

}
.title {
	font-weight: bold;
}

.game-button:hover {
	background-color: #ffffff;
	color: #000000;
	cursor: pointer;
}

.inplace-container {
	color: black;
	padding: 10px;
	border: 1px solif #fff;
	border-radius: 5px;
	box-sizing: border-box;
	width: 400px;
	margin-top: 5px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.footer {
	margin-bottom: 4px;
}